body{
	font-family: helvetica;
	margin: 30px
}

section {
	width: 46%;
	float: left;
}

h1{
	margin:0px
}

#sentence h1{
	font-size: 65px;
	color:#270b4f;
}
#sentence-1{
	opacity: 1
}
#sentence-2{
	opacity: 0.60
}
#sentence-3{
	opacity: 0.50
}
#sentence-4{
	opacity: 0.40
}
#sentence-5{
	opacity: 0.30
}
#sentence-6{
	opacity: 0.16
}

#jelly-fish h1{
	font-size: 80px;
	display: inline;
	word-break: break-all;
}
#jelly{
	color: #833ab4
}
#butter{
	color: #97339c
}
#cheese{
	color: #a2328d
}
#mayonnaise{
	color: #a93084
}
#lard{
	color: #af2f7d
}
#broth{
	color: #b62d69
}
#stew{
	color: #bc2c56
}
#sausage{
	color: #c22b2b
}
#meat{
	color: #c92929
}
#lobster{
	color: #cf3328
}
#shrimp{
	color: #d54d27
}
#squid{
	color: #dc6b25
}
#mussels{
	color: #e37a23
}
#crabs{
	color: #eab221
}
#shellfish{
	color: #f0e720
}
#crayfish{
	color: #d5f71e
}
#fish{
	color: #b8fd1d
}











