html, body {
	width: 100%;
	height: 100%;
	margin: auto;
	font-family: verdana;
	font-size: 15px;
	color: #2e5cb8;
	line-height: 24px;
	background:#bad7f2;
	background-attachment: scroll;
}

header {
	max-width: 800px;
	margin: 2rem auto;
}

h1 {
	font-size: 35px;
	line-height: 44px;
}

h3{
	font-size: 15px;
}

main {
	max-width: 800px;
	margin: auto;
}

p {
	margin: 15px auto;
}

figure {
	margin: 0;
}

img {
	width: 80%;
}

figcaption {
	font-size: 10px;
	line-height: 15px;
}

.rain{
	position: absolute;
	width: 100%;
	animation: falldown 25s linear;	
}
@keyframes falldown {
	0% {
		
	}
	100% {
		transform: translateY(250vw);
	}
}

.flower {
	position: absolute;
	transition: opacity 3s ease;
}
.one {
	animation: fallLeft 40s linear;
	width: 25%;
	right: 70%;
	top: 15%;
}
.two {
	animation: fallRight 40s linear;
	width: 17%;
	right: 85%;
	top: 0%;
}
.three {
	animation: fallLeft 40s linear;
	width: 10%;
	left: 90%;
	
}
.four {
	animation: fallRight 40s linear;	
	width: 35%;
	left: 70%;
}
@keyframes fallLeft {
	0% {
		transform: translateY(200vw);
	}
	100% {
		transform: translateY(-150vw);
	}
}
@keyframes fallRight {
	0% {
		transform: translateY(200vw);
	}
	100% {
		transform: translateY(-150vw);
	}
